
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}MB Boutique - Administration{% endblock %}
{% block content_title %}MB Boutique - Administration{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="{{path('app_home')}} ">Site Officiel</a>
{% endblock %}

{% block main %}
   
{% endblock %}



