{% extends 'base.html.twig' %}


{% block title %}Boutique Africaine - {{controller_name}}{% endblock %}

{% block contenu %}
<h1>Mon Compte</h1>
Bienvenue {{app.user.username}} dans votre espace privé
<hr>
 <a href="{{path('app_compte_password')}} ">Changer de mot de passe</a><br/>
  <a href="{{path('app_adresse_index')}} "> Gérer mes adresses</a> <br/>
- Mes commandes<hr>
{% endblock %}
