{% extends 'base.html.twig' %}


{% block title %}Boutique Africaine - {{controller_name}}{% endblock %}

{% block contenu %}
<h1>Mettre à jour mon mot de passe</h1>
<a  class="btn btn-success" href="{{path('app_compte')}} ">Retourner à mon compte</a><br/>
<hr>
{% if notification %}<div class="alert alert-info"> {{notification}}</div> {% endif %}
{{form(form)}}
<hr>

{% endblock %}
