{% extends 'base.html.twig' %}

{% block title %}Boutique MB - {{controller_name}}{% endblock %}

{% block contenu %}
    <h1>Modification de compte</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier compte'}) }}

    <a href="{{ path('app_user_index') }}">Liste des Utilisateurs</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
