{% extends 'base.html.twig' %}


{% block title %}Boutique MB - {{controller_name}}{% endblock %}

{% block contenu %}
    <h1>Inscription</h1>

    {{ include('user/_form.html.twig') }}
    <a href="{{ path('app_user_index') }}">Liste des Utilisateur</a>
{% endblock %}
